{{- $pageTitle := (.Scratch.Get "displayTitle" | default .Title) | emojify -}}
{{- $ogTitle := cond .IsHome (.Site.Title | emojify) (printf "%s | %s" $pageTitle (.Site.Title | emojify)) -}}
{{- $ogImage := "" -}}
{{- with .Site.Language.Params.Author.image -}}
  {{- $ogImage = . | absURL -}}
{{- end -}}
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:title" content="{{ $ogTitle }}">
{{ with $ogImage }}<meta property="og:image" content="{{ . }}">{{ end }}
<meta property="og:locale" content="{{ .Site.Language.Lang }}">
<meta property="og:type" content="website">
