{{/* Chronological release number #JQ-#### - sort by Date, then LinkTitle desc for same-date tie-break (matches section order) */}}
{{- $pages := where .Site.RegularPages "Type" "discography" }}
{{- $sorted := sort (sort $pages ".LinkTitle" "desc") ".Date" }}
{{- $scratch := newScratch }}
{{- $scratch.Set "idx" 0 }}
{{- range $i, $p := $sorted }}
  {{- if eq $p.RelPermalink $.RelPermalink }}
    {{- $scratch.Set "idx" (add $i 1) }}
  {{- end }}
{{- end }}
{{- $idx := $scratch.Get "idx" }}
{{- if $idx }}
<span class="release-number">#JQ-{{ printf "%04d" $idx }}</span>
{{- end }}
